<nav class="bg-gradient-to-r from-indigo-700 via-purple-700 to-pink-700 p-4 shadow-lg">
    <div class="max-w-7xl mx-auto flex items-center justify-between">
      <a href="https://flowbite.com/" class="flex items-center">
        <img src="https://pngimg.com/uploads/letter_h/letter_h_PNG100.png" class="h-10 mr-3" alt="Logo" />
        <span class="text-white text-2xl font-bold">HBVS 21000444 PWA</span>
      </a>
      <button class="md:hidden block text-white hover:text-gray-200 focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
          <path d="M3 6h14M3 10h14M3 14h14" />
        </svg>
      </button>
      <div class="hidden md:flex space-x-6">
        <a href="#" class="text-white hover:text-gray-300">Home</a>
        <a href="/formulario/orozcopo" class="text-white hover:text-gray-300">Orozcopo</a>
        <a href="/formulario/empleados" class="text-white hover:text-gray-300">Trabajadores</a>
        <a href="#" class="text-white hover:text-gray-300">XXXXX</a>
        <a href="#" class="text-white hover:text-gray-300">XXXXX</a>
      </div>
    </div>
  </nav>
<router-outlet/>